recipe: default.v1
language: en
pipeline:
- name: LLMCommandGenerator
  llm:
    model_name: gpt-4
    request_timeout: 7
  use_semantic_flow_search: true
  max_flows_from_semantic_search: ${MAX_FLOWS_FROM_SEMANTIC_SEARCH}
  conversation_turns_to_embed: ${CONVERSATION_TURNS_TO_EMBED}
  embed_flow_slots: ${EMBED_FLOW_SLOTS}

policies:
- name: rasa.core.policies.flow_policy.FlowPolicy
